.title-font {
    font-size: 30px;
    font-weight: bold;
    
}

ul {
    list-style-type: none;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.category {
    font-weight: bold;
    color:#121C4E;
}

.clicked-card {
    border-style: solid;
    border-color: #d0271d;
    background-color: #e8e8e8;
    padding: 15px;
    border-radius: 5px;
}

.card {
    border-style: solid;
    border-color: #d0271d;
    padding: 15px;
    border-radius: 5px;
}

.spacing {
    padding-top: 5px;
    padding-bottom: 5px;
}

.spacing-side {
    padding-right: 5px;
    padding-left: 5px;
}