.category {
    font-weight: bold;
    color:#121C4E;
}

.spacing {
    padding: 5px;
}


.button-style {
    padding: 10px;
    font-weight: bold;
    background-color: #121C4E;
    color: #FFFFFF;
    border-radius: 5px;
}

.background-update {
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 5px;
}

.title-font {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    
}

.label-padding{
    padding: 5px;
}

.button-cancel-style {
    padding: 10px;
    font-weight: bold;
    background-color: #d0271d;
    color: #FFFFFF;
    border-radius: 5px;
}



.side-by-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-box-style {
   border-radius: 5px;
   padding: 5px; 
   border-color: black;

}